<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Data" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Gauges.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Images" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Reporting.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Scheduler.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.SpellChecker.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Spreadsheet.Core" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Mvc" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Office" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Reporting" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Reporting.Common" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Scheduler" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Themes" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Web.Visualization" version="19.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="19.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
</packages>